<!DOCTYPE HTML>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog - Hunter Williams</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">

    <!-- Animate.css -->
    <link href="~/Content/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->
    <link href="~/Content/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Magnific Popup -->
    <link href="~/Content/magnific-popup.css" rel="stylesheet" />

    <!-- Flexslider  -->
    <link href="~/Content/flexslider.css" rel="stylesheet" />

    <!-- Owl Carousel -->
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Theme style  -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Paginator -->
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <!-- Modernizr JS -->
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    <script src="~/Scripts/jquery-3.3.1.slim.min.js"></script>






    <!-- Validator JS -->
    @*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

    <link rel="shortcut icon" href="~/Images/hw32px.ico" type="image/x-icon">

</head>
<body>
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <img src="~/Images/hw100square.jpg" />
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li><a href="@Url.Action( "Index", "Home" )">Home</a></li>
                            <li><a href="@Url.Action( "Index", "BlogPosts" )">Blog</a></li>
                            <li><a href="@Url.Action( "About", "Home" )">About Me</a></li>
                            <li><a href="@Url.Action( "Contact", "Home" )">Contact</a></li>
                            <li>|</li>
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
<footer id="colorlib-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>Navigation</h2>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="~/Home/index"><i class="icon-check"></i> Home</a></li>
                        <li><a href="~/BlogPosts/Index"><i class="icon-check"></i> Blog</a></li>
                        <li><a href="~/Home/About"><i class="icon-check"></i>About</a></li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Hunter Williams | This template was made by <a href="https://colorlib.com" target="_blank">Colorlib</a> and has been modified by Hunter Williams.
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </small>
                </p>
            </div>
        </div>
    </div>
</footer>