@model HunterW_Blog.Models.EmailModel
<!DOCTYPE HTML>
<html>

<body>

    <div id="page">
        <aside id="colorlib-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 breadcrumbs text-center">
                        <h2>Contact Me</h2>
                        <h4>Hunter Williams</h4>
                        <h4>hunterwilliams@northstate.net</h4>
                    </div>
                </div>
            </div>
        </aside>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
			<br />
			<div class="row">
				<div class="form-group">
					@Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label text-right" })
					<div class="col-md-8">
						@Html.TextBoxFor(m => m.FromName, new { @class = "form-control", placeholder = "Your Name Here" })<br />
						@Html.ValidationMessageFor(m => m.FromName)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					@Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label text-right" })
					<div class="col-md-8">
						@Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "Your Email Adress" })<br />
						@Html.ValidationMessageFor(m => m.FromEmail)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					@Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label text-right" })
					<div class="col-md-8">
						@Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject of Your Message" })<br />
						@Html.ValidationMessageFor(m => m.Subject)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					@Html.LabelFor(m => m.Body, new { @class = "col-md-2 control-label text-right" })
					<div class="col-md-8">
						@Html.TextAreaFor(m => m.Body, new { @class = "form-control", placeholder = "Your Message", rows = 5 })<br />
						@Html.ValidationMessageFor(m => m.Body)
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<div class="col-md-offset-2 col-md-8">
						<input type="submit" class="btn btn-primary" value="Send" /><br />
						<br />
					</div>
				</div>
			</div>
        }
    </div>

    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="~/Scripts/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/magnific-popup-options.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
    <script src="~/Scripts/google_map.js"></script>
    <!-- Main -->
    <script src="~/Scripts/main.js"></script>

    <script>
        $(function () {
            tinymce.init({
                selector: '#editor'
            });
        });
    </script>

</body>
</html>

