
<!DOCTYPE html>

@using HunterW_Blog.Models
@model BlogPost

<html>
<body>

    @{
        ViewBag.Title = "Create";
    }
    @*@Html.AntiForgeryToken();*@

    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="colorlib-logo"><a href="index.html">New Post</a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1">
                        <ul>
                            <li><a href="@Url.Action( "Index", "Home" )">Home</a></li>
                            <li><a href="@Url.Action( "Blog", "Home" )">Blog</a></li>
                            <li><a href="@Url.Action( "About", "Home" )">About Me</a></li>
                            <li><a href="@Url.Action( "Contact", "Home" )">Contact</a></li>
                            <li>|</li>
                            <li>@Html.Partial("_LoginPartial")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    @using (Html.BeginForm("Create", "BlogPosts", FormMethod.Post, new { enctype = "Multipart/form-data" }))
    {
        @Html.AntiForgeryToken();
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Abstract, 1, 150, new { htmlAttributes = new { @style = "width: 100%; max-width: 100%" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Abstract, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.Abstract, 1, 150, new { htmlAttributes = new { @style = "width: 100%; max-width: 100%" } })
                    @Html.ValidationMessageFor(model => model.Abstract, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.Slug, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.HiddenFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="editor" class="form-group">
                @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                <div id="editor" class="col-md-8">
                    @Html.TextAreaFor(model => model.Body, 10, 150, new { htmlAttributes = new { @id = "editor" } })
                    @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- IMAGE UPLOAD SECTION -->

            <div class="form-group">
                @Html.LabelFor(model => model.MediaUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input name="image" type="file" id="fileUpload" />
                    @Html.ValidationMessageFor(model => model.MediaUrl, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Published)
                        @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.HiddenFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.HiddenFor(model => model.Updated, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.HiddenFor(model => model.Updated, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Updated, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div class="text-center">
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script src="~/Scripts/tinymce/tinymce.min.js"></script>
        <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
        <script type="text/javascript">
            $(function () {
                tinymce.init({
                    selector: '#editor'
                });
            });
        </script>*@
}

