@using PagedList;
@using PagedList.Mvc;

@model IPagedList<HunterW_Blog.Models.BlogPost>

@*@model IEnumerable<HunterW_Blog.Models.BlogPost>*@

@{
	ViewBag.Title = "Index";
}

<center>
	<h2>All Blog Posts</h2>
</center>

<div class="row">
	<div class="col-xs-4 text-center">
		@if (User.IsInRole("Admin"))
		{
			<p class="h3 text-center">
				@Html.ActionLink("Create New", "Create")
			</p>
		}
	</div>
	<div class="col-xs-4 text-center">
		@using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
		{
			<div class="controls controls-row search-row text-center">
				<input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" />
				<button id="searchStr" name="searchStr" class="btn btn-default" type="submit">
					<i class="icon-search3"></i>
				</button>
			</div>
		}
	</div>
</div>
<br />

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-xs-4 text-center">
			<div class="row">
				<h4>
					@Html.DisplayFor(modelItem => item.Title)
				</h4>
			</div>
			<div class="row">
				<p>
					@Html.DisplayFor(modelItem => item.Abstract)
				</p>
			</div>
			<div class="row">
				@if (User.IsInRole("Admin"))
				{
					@Html.ActionLink("Edit Post", "Edit", "BlogPosts")
				}
				<h4>
					@Html.ActionLink("Read Post", "Details", "BlogPosts", new { slug = item.Slug }, null)
				</h4>
			</div>
		</div>
	}
</div>

@*@foreach (var item in Model)
{
	<div class="row">
		<div class="col-xs-4 text-right">
			<h4>
				@Html.DisplayFor(modelItem => item.Title)
			</h4>
		</div>
		<div class="col-xs-4 text-center">
			<h4>
				@Html.DisplayFor(modelItem => item.Abstract)
			</h4>
		</div>
		<div class="col-xs-4 text-left">
			<h4>
				@Html.ActionLink("Read Post", "Details", "BlogPosts", new { slug = item.Slug }, null)
			</h4>
		</div>
	</div>
}*@

@*<table class="table">
		@foreach (var item in Model)
		{
		<tr>
			<th>
				<h4>@Html.DisplayNameFor(modelItem => item.Title)</h4>
			</th>
			<td>
				<h4>@Html.DisplayFor(modelItem => item.Title)</h4>
			</td>
			<th>
				<h4>@Html.DisplayNameFor(modelItem => item.Abstract)</h4>
			</th>
			<td>
				<h4>@Html.DisplayFor(modelItem => item.Abstract)</h4>
			</td>
			<td>
				<h4>@Html.ActionLink("Read Post", "Details", new { slug = item.Slug }, null)</h4>
			</td>
		</tr>
		}
	</table>*@
<center>
	Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @(Model.PageCount)
	@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchStr = ViewBag.Search }))
</center>